<html>
<table class="main_container" cellpadding="0" cellspacing="0" style="background-color:#eee; max-width:500px; width: 100%; border-bottom:solid #bebebe 1px" >
    <tbody>

    <!-- Title -->
    <tr>
        <td colspan="3" style="background-color:#444; height:68px; width:100%; font-weight:700; color:#fff; font-size:24px; padding-left:10px">
          AWS Costs
        </td>
    </tr>

    <!-- border -->
    <tr>
		<td colspan="3" style="height:10px; background-color:#FF9633;"></td>
    </tr>

    {% for cost_info in costs %}
        <!-- Period -->
      <tr>
        <td style="padding:10px;font-weight:600; border-left:solid #bebebe 1px">{{ cost_info.period }}</td>
        <td style="padding:10px; font-weight:900; border-right:solid #bebebe 1px" align="right">{{ cost_info.total }}$</td>
      </tr>

    <!-- account -->
    {% for account in cost_info.account_service_usage %}
      <tr>
        <td colspan="2" bgcolor="#FBFBEF " style="padding:10px 10px; border-left:solid #bebebe 1px; border-right:solid #bebebe 1px">
            <table border="0" style="margin-bottom:10px; ;width:100%" >
                <tbody>
                  <!-- Account -->
                  <tr>
                    <td style="font-weight:600; color:#f23">{{ account }}</td>
                  </tr>
                  <tr>
                    <td></td>
                  </tr>

                  <!-- Service Usage Costs -->
                  {% for service_usage in cost_info.account_service_usage[account] %}
                    <tr>
                    <td style="padding-right:14px">{{ service_usage[0] }}</td>
                    <td align="right">{{ service_usage[1] }}$</td>
                    </tr>
                  {% endfor %}

                  <!-- Account Total -->
                  <tr>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td align="right" style="font-weight:600">{{ cost_info.account_total[account] }}$</td>
                  </tr>
                </tbody>
            </table>
        </td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
  </table>